doctype html 
html
  head
    title this is title
    block style 
    block scripts
  body
    nav#navbar 
            ul 
                div#logo 
                    img(src="/static/bha.jpg")
                    | hda 

                li #[a(href ="/") home]
                li #[a(href ="/") about]
                li #[a(href ="/") services]
                li #[a(href ="/") class info]
                li #[a(href ="/contact") contact us] 
    block content
    footer#footer 
        |copyright ganesh dance academy.com
      

